.formsection{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputcls {
    height:10rem;
    width:7rem;
}
.inputcls input{
    height:3rem;
}

.h1cls{
    color:white;
}
.submitbtn{
    background-color: blue;
    color:white;
    margin:1rem;
    padding:1rem;
}